In [4]:
import matplotlib.pyplot as plt
import numpy as np
from numpy.polynomial.polynomial import polyfit
import scipy.stats
import glob
from dateutils import timedelta
import pandas as pd
from datetime import datetime
import tqdm

In [5]:
from pandarallel import pandarallel as pdrl
pdrl.initialize()

INFO: Pandarallel will run on 48 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [6]:
drug_common = "../data/final/"
drug_dict = {"hcq": f"{drug_common}hcq.csv",
              "ivermectin": f"{drug_common}ivermectin.csv",
              "remdesivir": f"{drug_common}remdesivir.csv",
              "molnupiravir": f"{drug_common}molnupiravir.csv"}

In [7]:
# set the first date of the datasets: 2020-01-22
start_date = datetime.strptime("01/22/2020", "%m/%d/%Y").date()
print(f"Start date: {start_date}")

# set the end date 2020-12-31
end_date = datetime.strptime("11/30/2021", "%m/%d/%Y").date()
print(f"End date: {end_date}")

Start date: 2020-01-22
End date: 2021-11-30

In [8]:
import math
def to_week(x):
    return math.ceil((x + timedelta(days=1) - start_date) / timedelta(weeks=1))
def to_date(week):
    return start_date + timedelta(weeks=week-1)

## Get tweet numbers

In [82]:
# files = glob.glob(f"{drug_common}raw/*.csv")
# with open("tweet_amount.log","w") as log_file:
#     for file in tqdm.tqdm(files):
#         print(file)
#         df = pd.read_csv(file,lineterminator="\n")
#         # convert date strings to dates
#         df = df[df.full_text.notna()]
#         df["date"] = df["created_at"].parallel_apply(lambda x: datetime.strptime(x, "%a %b %d %H:%M:%S %z %Y").date())
#         df["week"] = df["date"].parallel_apply(lambda x: to_week(x))
# #         df.to_csv(file, index=False)
#         # Split data into weekly data files
#         start_week = df["week"].min()
#         end_week = df["week"].max()

#         for i in range(start_week, end_week + 1):
#             week_start = (start_date + timedelta(weeks=i - 1))
#             week_i_df = df[df.week == i].sort_values("date")
#             print("Week %i have %i raw tweets\n"%(i, len(week_i_df)))
#             log_file.write("Week %i have %i raw tweets\n"%(i, len(week_i_df)))

In [83]:
# with open("tweet_amount.log","r") as file:
#     log = [l for l in file.read().split("\n") if "raw" in l]

# log = np.unique(np.array(log))
# print("\n".join(list(log)))

### Get drug tweet number distribution

In [9]:
with open("drug_tweet_amount.log","w") as log_file:
    for drug, drug_path in drug_dict.items():
        df = pd.read_csv(drug_path,lineterminator="\n", low_memory=False)
        # convert date strings to dates
        if "date" not in df.columns:
            df["date"] = df["created_at"].apply(lambda x: datetime.strptime(x, "%a %b %d %H:%M:%S %z %Y").date())
            df["week"] = df["date"].apply(lambda x: to_week(x))
#                 df.to_csv(file, index=False)
            df = df.sort_values("week")
        start_week = df["week"].min()
        end_week = df["week"].max()

        for i in range(start_week, end_week + 1):
            week_start = (start_date + timedelta(weeks=i - 1))
            week_i_df = df[df.week == i].sort_values("date")
            print("Week %i have %i %s tweets"%(i, len(week_i_df), drug))
            log_file.write("Week %i have %i %s tweets\n"%(i, len(week_i_df), drug))

Week 6 have 3 hcq tweets
Week 7 have 3 hcq tweets
Week 8 have 40 hcq tweets
Week 9 have 963 hcq tweets
Week 10 have 1257 hcq tweets
Week 11 have 5534 hcq tweets
Week 12 have 2971 hcq tweets
Week 13 have 1491 hcq tweets
Week 14 have 3851 hcq tweets
Week 15 have 2248 hcq tweets
Week 16 have 3006 hcq tweets
Week 17 have 11218 hcq tweets
Week 18 have 10620 hcq tweets
Week 19 have 2676 hcq tweets
Week 20 have 3257 hcq tweets
Week 21 have 3364 hcq tweets
Week 22 have 2076 hcq tweets
Week 23 have 1281 hcq tweets
Week 24 have 7744 hcq tweets
Week 25 have 3246 hcq tweets
Week 26 have 2484 hcq tweets
Week 27 have 11961 hcq tweets
Week 28 have 23617 hcq tweets
Week 29 have 8309 hcq tweets
Week 30 have 6493 hcq tweets
Week 31 have 5191 hcq tweets
Week 32 have 2879 hcq tweets
Week 33 have 2244 hcq tweets
Week 34 have 1972 hcq tweets
Week 35 have 1697 hcq tweets
Week 36 have 1549 hcq tweets
Week 37 have 5530 hcq tweets
Week 38 have 1962 hcq tweets
Week 39 have 1140 hcq tweets
Week 40 have 1288 hcq tweets
Week 41 have 1586 hcq tweets
Week 42 have 1017 hcq tweets
Week 43 have 1215 hcq tweets
Week 44 have 2223 hcq tweets
Week 45 have 2525 hcq tweets
Week 46 have 1023 hcq tweets
Week 47 have 1133 hcq tweets
Week 48 have 1459 hcq tweets
Week 49 have 836 hcq tweets
Week 50 have 722 hcq tweets
Week 51 have 446 hcq tweets
Week 52 have 575 hcq tweets
Week 53 have 1013 hcq tweets
Week 54 have 2046 hcq tweets
Week 55 have 873 hcq tweets
Week 56 have 610 hcq tweets
Week 57 have 602 hcq tweets
Week 58 have 614 hcq tweets
Week 59 have 609 hcq tweets
Week 60 have 742 hcq tweets
Week 61 have 509 hcq tweets
Week 62 have 600 hcq tweets
Week 63 have 440 hcq tweets
Week 64 have 401 hcq tweets
Week 65 have 424 hcq tweets
Week 66 have 542 hcq tweets
Week 67 have 448 hcq tweets
Week 68 have 523 hcq tweets
Week 69 have 524 hcq tweets
Week 70 have 544 hcq tweets
Week 71 have 515 hcq tweets
Week 72 have 2232 hcq tweets
Week 73 have 3454 hcq tweets
Week 74 have 1205 hcq tweets
Week 75 have 700 hcq tweets
Week 76 have 427 hcq tweets
Week 77 have 603 hcq tweets
Week 78 have 958 hcq tweets
Week 79 have 1068 hcq tweets
Week 80 have 1089 hcq tweets
Week 81 have 871 hcq tweets
Week 82 have 836 hcq tweets
Week 83 have 990 hcq tweets
Week 84 have 757 hcq tweets
Week 85 have 710 hcq tweets
Week 86 have 553 hcq tweets
Week 87 have 435 hcq tweets
Week 88 have 423 hcq tweets
Week 89 have 226 hcq tweets
Week 90 have 278 hcq tweets
Week 91 have 423 hcq tweets
Week 92 have 350 hcq tweets
Week 93 have 355 hcq tweets
Week 94 have 356 hcq tweets
Week 95 have 213 hcq tweets
Week 96 have 276 hcq tweets
Week 97 have 333 hcq tweets
Week 6 have 4 ivermectin tweets
Week 7 have 0 ivermectin tweets
Week 8 have 0 ivermectin tweets
Week 9 have 0 ivermectin tweets
Week 10 have 0 ivermectin tweets
Week 11 have 284 ivermectin tweets
Week 12 have 141 ivermectin tweets
Week 13 have 57 ivermectin tweets
Week 14 have 73 ivermectin tweets
Week 15 have 54 ivermectin tweets
Week 16 have 93 ivermectin tweets
Week 17 have 178 ivermectin tweets
Week 18 have 279 ivermectin tweets
Week 19 have 129 ivermectin tweets
Week 20 have 67 ivermectin tweets
Week 21 have 204 ivermectin tweets
Week 22 have 116 ivermectin tweets
Week 23 have 263 ivermectin tweets
Week 24 have 231 ivermectin tweets
Week 25 have 183 ivermectin tweets
Week 26 have 92 ivermectin tweets
Week 27 have 121 ivermectin tweets
Week 28 have 122 ivermectin tweets
Week 29 have 366 ivermectin tweets
Week 30 have 439 ivermectin tweets
Week 31 have 507 ivermectin tweets
Week 32 have 290 ivermectin tweets
Week 33 have 310 ivermectin tweets
Week 34 have 157 ivermectin tweets
Week 35 have 217 ivermectin tweets
Week 36 have 176 ivermectin tweets
Week 37 have 140 ivermectin tweets
Week 38 have 90 ivermectin tweets
Week 39 have 64 ivermectin tweets
Week 40 have 117 ivermectin tweets
Week 41 have 146 ivermectin tweets
Week 42 have 135 ivermectin tweets
Week 43 have 197 ivermectin tweets
Week 44 have 208 ivermectin tweets
Week 45 have 335 ivermectin tweets
Week 46 have 644 ivermectin tweets
Week 47 have 2852 ivermectin tweets
Week 48 have 2157 ivermectin tweets
Week 49 have 961 ivermectin tweets
Week 50 have 1129 ivermectin tweets
Week 51 have 881 ivermectin tweets
Week 52 have 1527 ivermectin tweets
Week 53 have 1508 ivermectin tweets
Week 54 have 1325 ivermectin tweets
Week 55 have 1507 ivermectin tweets
Week 56 have 1209 ivermectin tweets
Week 57 have 819 ivermectin tweets
Week 58 have 695 ivermectin tweets
Week 59 have 1654 ivermectin tweets
Week 60 have 893 ivermectin tweets
Week 61 have 925 ivermectin tweets
Week 62 have 1388 ivermectin tweets
Week 63 have 1176 ivermectin tweets
Week 64 have 1057 ivermectin tweets
Week 65 have 583 ivermectin tweets
Week 66 have 649 ivermectin tweets
Week 67 have 850 ivermectin tweets
Week 68 have 1321 ivermectin tweets
Week 69 have 944 ivermectin tweets
Week 70 have 910 ivermectin tweets
Week 71 have 1584 ivermectin tweets
Week 72 have 1841 ivermectin tweets
Week 73 have 1909 ivermectin tweets
Week 74 have 2764 ivermectin tweets
Week 75 have 3095 ivermectin tweets
Week 76 have 2180 ivermectin tweets
Week 77 have 2205 ivermectin tweets
Week 78 have 2790 ivermectin tweets
Week 79 have 3409 ivermectin tweets
Week 80 have 4266 ivermectin tweets
Week 81 have 4536 ivermectin tweets
Week 82 have 4084 ivermectin tweets
Week 83 have 15764 ivermectin tweets
Week 84 have 30212 ivermectin tweets
Week 85 have 40889 ivermectin tweets
Week 86 have 19780 ivermectin tweets
Week 87 have 10920 ivermectin tweets
Week 88 have 7811 ivermectin tweets
Week 89 have 5896 ivermectin tweets
Week 90 have 5504 ivermectin tweets
Week 91 have 11239 ivermectin tweets
Week 92 have 5080 ivermectin tweets
Week 93 have 4398 ivermectin tweets
Week 94 have 9785 ivermectin tweets
Week 95 have 4762 ivermectin tweets
Week 96 have 4838 ivermectin tweets
Week 97 have 3945 ivermectin tweets
Week 2 have 46 remdesivir tweets
Week 3 have 174 remdesivir tweets
Week 4 have 122 remdesivir tweets
Week 5 have 87 remdesivir tweets
Week 6 have 169 remdesivir tweets
Week 7 have 80 remdesivir tweets
Week 8 have 45 remdesivir tweets
Week 9 have 96 remdesivir tweets
Week 10 have 82 remdesivir tweets
Week 11 have 128 remdesivir tweets
Week 12 have 308 remdesivir tweets
Week 13 have 603 remdesivir tweets
Week 14 have 351 remdesivir tweets
Week 15 have 3681 remdesivir tweets
Week 16 have 1183 remdesivir tweets
Week 17 have 1058 remdesivir tweets
Week 18 have 715 remdesivir tweets
Week 19 have 620 remdesivir tweets
Week 20 have 386 remdesivir tweets
Week 21 have 296 remdesivir tweets
Week 22 have 379 remdesivir tweets
Week 23 have 1961 remdesivir tweets
Week 24 have 1487 remdesivir tweets
Week 25 have 899 remdesivir tweets
Week 26 have 571 remdesivir tweets
Week 27 have 521 remdesivir tweets
Week 28 have 1022 remdesivir tweets
Week 29 have 663 remdesivir tweets
Week 30 have 238 remdesivir tweets
Week 31 have 430 remdesivir tweets
Week 32 have 404 remdesivir tweets
Week 33 have 273 remdesivir tweets
Week 34 have 261 remdesivir tweets
Week 35 have 230 remdesivir tweets
Week 36 have 139 remdesivir tweets
Week 37 have 2651 remdesivir tweets
Week 38 have 1533 remdesivir tweets
Week 39 have 2225 remdesivir tweets
Week 40 have 3155 remdesivir tweets
Week 41 have 632 remdesivir tweets
Week 42 have 253 remdesivir tweets
Week 43 have 463 remdesivir tweets
Week 44 have 1342 remdesivir tweets
Week 45 have 186 remdesivir tweets
Week 46 have 227 remdesivir tweets
Week 47 have 320 remdesivir tweets
Week 48 have 174 remdesivir tweets
Week 49 have 150 remdesivir tweets
Week 50 have 259 remdesivir tweets
Week 51 have 96 remdesivir tweets
Week 52 have 68 remdesivir tweets
Week 53 have 162 remdesivir tweets
Week 54 have 191 remdesivir tweets
Week 55 have 114 remdesivir tweets
Week 56 have 91 remdesivir tweets
Week 57 have 97 remdesivir tweets
Week 58 have 42 remdesivir tweets
Week 59 have 77 remdesivir tweets
Week 60 have 87 remdesivir tweets
Week 61 have 44 remdesivir tweets
Week 62 have 77 remdesivir tweets
Week 63 have 80 remdesivir tweets
Week 64 have 151 remdesivir tweets
Week 65 have 235 remdesivir tweets
Week 66 have 256 remdesivir tweets
Week 67 have 250 remdesivir tweets
Week 68 have 92 remdesivir tweets
Week 69 have 115 remdesivir tweets
Week 70 have 97 remdesivir tweets
Week 71 have 60 remdesivir tweets
Week 72 have 94 remdesivir tweets
Week 73 have 57 remdesivir tweets
Week 74 have 63 remdesivir tweets
Week 75 have 79 remdesivir tweets
Week 76 have 40 remdesivir tweets
Week 77 have 56 remdesivir tweets
Week 78 have 143 remdesivir tweets
Week 79 have 126 remdesivir tweets
Week 80 have 121 remdesivir tweets
Week 81 have 167 remdesivir tweets
Week 82 have 781 remdesivir tweets
Week 83 have 390 remdesivir tweets
Week 84 have 214 remdesivir tweets
Week 85 have 241 remdesivir tweets
Week 86 have 321 remdesivir tweets
Week 87 have 650 remdesivir tweets
Week 88 have 596 remdesivir tweets
Week 89 have 202 remdesivir tweets
Week 90 have 186 remdesivir tweets
Week 91 have 256 remdesivir tweets
Week 92 have 194 remdesivir tweets
Week 93 have 211 remdesivir tweets
Week 94 have 183 remdesivir tweets
Week 95 have 234 remdesivir tweets
Week 96 have 227 remdesivir tweets
Week 97 have 232 remdesivir tweets
Week 7 have 1 molnupiravir tweets
Week 8 have 1 molnupiravir tweets
Week 9 have 0 molnupiravir tweets
Week 10 have 0 molnupiravir tweets
Week 11 have 1 molnupiravir tweets
Week 12 have 0 molnupiravir tweets
Week 13 have 4 molnupiravir tweets
Week 14 have 0 molnupiravir tweets
Week 15 have 0 molnupiravir tweets
Week 16 have 1 molnupiravir tweets
Week 17 have 0 molnupiravir tweets
Week 18 have 1 molnupiravir tweets
Week 19 have 1 molnupiravir tweets
Week 20 have 1 molnupiravir tweets
Week 21 have 1 molnupiravir tweets
Week 22 have 1 molnupiravir tweets
Week 23 have 3 molnupiravir tweets
Week 24 have 0 molnupiravir tweets
Week 25 have 1 molnupiravir tweets
Week 26 have 1 molnupiravir tweets
Week 27 have 0 molnupiravir tweets
Week 28 have 2 molnupiravir tweets
Week 29 have 1 molnupiravir tweets
Week 30 have 1 molnupiravir tweets
Week 31 have 0 molnupiravir tweets
Week 32 have 2 molnupiravir tweets
Week 33 have 0 molnupiravir tweets
Week 34 have 0 molnupiravir tweets
Week 35 have 0 molnupiravir tweets
Week 36 have 0 molnupiravir tweets
Week 37 have 0 molnupiravir tweets
Week 38 have 3 molnupiravir tweets
Week 39 have 0 molnupiravir tweets
Week 40 have 0 molnupiravir tweets
Week 41 have 1 molnupiravir tweets
Week 42 have 1 molnupiravir tweets
Week 43 have 1 molnupiravir tweets
Week 44 have 3 molnupiravir tweets
Week 45 have 0 molnupiravir tweets
Week 46 have 32 molnupiravir tweets
Week 47 have 21 molnupiravir tweets
Week 48 have 3 molnupiravir tweets
Week 49 have 14 molnupiravir tweets
Week 50 have 7 molnupiravir tweets
Week 51 have 3 molnupiravir tweets
Week 52 have 3 molnupiravir tweets
Week 53 have 23 molnupiravir tweets
Week 54 have 14 molnupiravir tweets
Week 55 have 11 molnupiravir tweets
Week 56 have 24 molnupiravir tweets
Week 57 have 9 molnupiravir tweets
Week 58 have 7 molnupiravir tweets
Week 59 have 103 molnupiravir tweets
Week 60 have 52 molnupiravir tweets
Week 61 have 16 molnupiravir tweets
Week 62 have 105 molnupiravir tweets
Week 63 have 19 molnupiravir tweets
Week 64 have 14 molnupiravir tweets
Week 65 have 20 molnupiravir tweets
Week 66 have 24 molnupiravir tweets
Week 67 have 16 molnupiravir tweets
Week 68 have 5 molnupiravir tweets
Week 69 have 3 molnupiravir tweets
Week 70 have 11 molnupiravir tweets
Week 71 have 3 molnupiravir tweets
Week 72 have 7 molnupiravir tweets
Week 73 have 75 molnupiravir tweets
Week 74 have 30 molnupiravir tweets
Week 75 have 8 molnupiravir tweets
Week 76 have 6 molnupiravir tweets
Week 77 have 28 molnupiravir tweets
Week 78 have 13 molnupiravir tweets
Week 79 have 9 molnupiravir tweets
Week 80 have 9 molnupiravir tweets
Week 81 have 10 molnupiravir tweets
Week 82 have 18 molnupiravir tweets
Week 83 have 11 molnupiravir tweets
Week 84 have 30 molnupiravir tweets
Week 85 have 43 molnupiravir tweets
Week 86 have 26 molnupiravir tweets
Week 87 have 15 molnupiravir tweets
Week 88 have 37 molnupiravir tweets
Week 89 have 775 molnupiravir tweets
Week 90 have 710 molnupiravir tweets
Week 91 have 327 molnupiravir tweets
Week 92 have 161 molnupiravir tweets
Week 93 have 183 molnupiravir tweets
Week 94 have 925 molnupiravir tweets
Week 95 have 140 molnupiravir tweets
Week 96 have 200 molnupiravir tweets
Week 97 have 564 molnupiravir tweets

In [39]:
dfs = []
with open("drug_tweet_amount.log", 'r') as file:
    log = [l for l in file.read().split("\n") if l]
    weeks = sorted(list(map(int,np.unique(np.array([l.split(" ")[1] for l in log])).tolist())))
    total_d = dict.fromkeys(weeks, 0)
    for drug in drug_dict.keys():
        drug_d = dict.fromkeys(weeks, 0)
        drug_ratio_d = dict.fromkeys(weeks, 0)
        drug_log = [l for l in log if l and drug in l]
        for line in drug_log:
            drug_d[int(line.split(" ")[1])] += int(line.split(" ")[3])/1000
        drug_df = pd.DataFrame.from_dict(drug_d, orient='index', columns=[drug]).reset_index()
        drug_df.insert(0,"week",drug_df.pop("index"))
        dfs.append(drug_df)

df = pd.concat(dfs,axis=1).T.drop_duplicates().T

In [42]:
df["start_date"] = drug_df.week.apply(lambda x:to_date(int(x)))

In [44]:
df

    week    hcq  ivermectin  remdesivir  molnupiravir  start_date
0    2.0  0.000       0.000       0.046         0.000  2020-01-29
1    3.0  0.000       0.000       0.174         0.000  2020-02-05
2    4.0  0.000       0.000       0.122         0.000  2020-02-12
3    5.0  0.000       0.000       0.087         0.000  2020-02-19
4    6.0  0.003       0.004       0.169         0.000  2020-02-26
..   ...    ...         ...         ...           ...         ...
91  93.0  0.355       4.398       0.211         0.183  2021-10-27
92  94.0  0.356       9.785       0.183         0.925  2021-11-03
93  95.0  0.213       4.762       0.234         0.140  2021-11-10
94  96.0  0.276       4.838       0.227         0.200  2021-11-17
95  97.0  0.333       3.945       0.232         0.564  2021-11-24

[96 rows x 6 columns]

In [45]:
import datetime
def get_str(x):
    return x.strftime("%b %d, %Y")

drug_df["week_str"] = drug_df["start_date"].apply(lambda x: get_str(x))
drug_df

    week  molnupiravir  start_date      week_str
0      2         0.000  2020-01-29  Jan 29, 2020
1      3         0.000  2020-02-05  Feb 05, 2020
2      4         0.000  2020-02-12  Feb 12, 2020
3      5         0.000  2020-02-19  Feb 19, 2020
4      6         0.000  2020-02-26  Feb 26, 2020
..   ...           ...         ...           ...
91    93         0.183  2021-10-27  Oct 27, 2021
92    94         0.925  2021-11-03  Nov 03, 2021
93    95         0.140  2021-11-10  Nov 10, 2021
94    96         0.200  2021-11-17  Nov 17, 2021
95    97         0.564  2021-11-24  Nov 24, 2021

[96 rows x 4 columns]

In [46]:
df.hcq.sum()  ## check

192.625

In [47]:
# df.to_csv("tweet_fraction.csv",index=False)
drug_df = df

## COVID data (new cases)

In [49]:
## Get new cases 
files = sorted(glob.glob("../COVID-19/csse_covid_19_data/csse_covid_19_daily_reports_us/*.csv"))
c_19_summary_us = {file.split("/")[-1].split(".csv")[0]:
                sum(pd.read_csv(file)["Confirmed"].astype(int)) for file in files}

US only contains info from 2020-04-011

In [51]:
## cite this: https://www.sheffield.ac.uk/international/english-speaking-countries
# English_speaking_countries = ['Antigua and Barbuda',
#                                  'Australia',
#                                  'Bahamas',
#                                  'Barbados',
#                                  'Belize',
#                                  'Canada',
#                                  'Dominica',
#                                  'Grenada',
#                                  'Guyana',
#                                  'Ireland',
#                                  'Jamaica',
#                                  'Malta',
#                                  'New Zealand',
#                                  'Saint Kitts and Nevis',
#                                  'Saint Lucia',
#                                  'Saint Vincent and the Grenadines',
#                                  'Trinidad and Tobago',
#                                  'United Kingdom',
#                                  'US']

# English_speaking_countries = ["United Kingdom","US","Canada","Philippines","India"]

In [52]:
## Get new cases 
files = sorted(glob.glob("../COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv"))
# files = sorted([f for f in files if "2020" in f])
# files = files[:files.index('COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-11-2020.csv')]'

In [53]:
for file in files:
    df = pd.read_csv(file,header=0)
    if "Country/Region" in df.columns:
        df[df["Country/Region"]=='US']["Confirmed"]
        g = df.groupby("Country/Region").agg("sum")
    else:
        df[df["Country_Region"]=="US"]["Confirmed"]
        g = df.groupby("Country_Region").agg("sum")    
    c_19_summary_us[file.split("/")[-1].split(".csv")[0]] = g["Confirmed"]["US"]

In [54]:
# C19_df = pd.DataFrame.from_dict(c_19_summary, orient='index',columns=["aggregated cases"]).reset_index()
def get_new_cases(C19_df):
    C19_df.insert(0,"date",C19_df.pop("index"))
    C19_df["week"] = C19_df.date.apply(lambda x: to_week(datetime.datetime.strptime(x,'%m-%d-%Y').date()))
    C19_df = C19_df.T[1:].T.groupby("week").agg("sum")
    C19_df["new"] = C19_df["aggregated cases"] - ([0]+list(C19_df["aggregated cases"]))[:-1]
    C19_df = C19_df.reset_index()
    C19_df = C19_df[C19_df.week<=97]
    C19_df = C19_df[1:]
    C19_df = C19_df.drop("aggregated cases",axis=1)
    return C19_df

In [55]:
us = get_new_cases(pd.DataFrame.from_dict(c_19_summary_us, orient='index',columns=["aggregated cases"]).reset_index())
us

    week        new
1      2       33.0
2      3       31.0
3      4       18.0
4      5      138.0
5      6      309.0
..   ...        ...
92    93  3583776.0
93    94  3595808.0
94    95  3907836.0
95    96  4562487.0
96    97  3934521.0

[96 rows x 2 columns]

In [56]:
# drug_df = pd.read_csv("tweet_fraction.csv")
# drug_df

    week    hcq  ivermectin  remdesivir  molnupiravir  start_date
0    2.0  0.000       0.000       0.046         0.000  2020-01-29
1    3.0  0.000       0.000       0.174         0.000  2020-02-05
2    4.0  0.000       0.000       0.122         0.000  2020-02-12
3    5.0  0.000       0.000       0.087         0.000  2020-02-19
4    6.0  0.003       0.004       0.169         0.000  2020-02-26
..   ...    ...         ...         ...           ...         ...
91  93.0  0.355       4.398       0.211         0.183  2021-10-27
92  94.0  0.356       9.785       0.183         0.925  2021-11-03
93  95.0  0.213       4.762       0.234         0.140  2021-11-10
94  96.0  0.276       4.838       0.227         0.200  2021-11-17
95  97.0  0.333       3.945       0.232         0.564  2021-11-24

[96 rows x 6 columns]

In [57]:
df = pd.merge(us,drug_df,on="week",how="outer")
df

    week        new    hcq  ivermectin  remdesivir  molnupiravir  start_date
0      2       33.0  0.000       0.000       0.046         0.000  2020-01-29
1      3       31.0  0.000       0.000       0.174         0.000  2020-02-05
2      4       18.0  0.000       0.000       0.122         0.000  2020-02-12
3      5      138.0  0.000       0.000       0.087         0.000  2020-02-19
4      6      309.0  0.003       0.004       0.169         0.000  2020-02-26
..   ...        ...    ...         ...         ...           ...         ...
91    93  3583776.0  0.355       4.398       0.211         0.183  2021-10-27
92    94  3595808.0  0.356       9.785       0.183         0.925  2021-11-03
93    95  3907836.0  0.213       4.762       0.234         0.140  2021-11-10
94    96  4562487.0  0.276       4.838       0.227         0.200  2021-11-17
95    97  3934521.0  0.333       3.945       0.232         0.564  2021-11-24

[96 rows x 7 columns]

In [ ]:
def w(x):
    if x<35: return 1
    elif x<77 and x>=35: return 2
    else: return 3
df["wave"] = df["week"].apply(lambda x: w(x))

In [62]:
df.to_csv("final_stats.csv",index=False)

In [59]:
df = pd.read_csv("final_stats.csv")
df

    week        new    hcq  ivermectin  remdesivir  molnupiravir  start_date
0      2       33.0  0.000       0.000       0.046         0.000  2020-01-29
1      3       31.0  0.000       0.000       0.174         0.000  2020-02-05
2      4       18.0  0.000       0.000       0.122         0.000  2020-02-12
3      5      138.0  0.000       0.000       0.087         0.000  2020-02-19
4      6      309.0  0.003       0.004       0.169         0.000  2020-02-26
..   ...        ...    ...         ...         ...           ...         ...
91    93  3583776.0  0.355       4.398       0.211         0.183  2021-10-27
92    94  3595808.0  0.356       9.785       0.183         0.925  2021-11-03
93    95  3907836.0  0.213       4.762       0.234         0.140  2021-11-10
94    96  4562487.0  0.276       4.838       0.227         0.200  2021-11-17
95    97  3934521.0  0.333       3.945       0.232         0.564  2021-11-24

[96 rows x 7 columns]